.jv-roma a,
.jv-roma a:active,
.jv-roma a:focus,
.jv-roma .tg-item-title,
.jv-roma .tg-media-button {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.25s ease, color 0.25s ease, -moz-transform 0.3s ease-in-out;
	-ms-transition: opacity 0.25s ease, color 0.25s ease, -ms-transform 0.3s ease-in-out;
	-o-transition: opacity 0.25s ease, color 0.25s ease, -o-transform 0.3s ease-in-out;
	transition: opacity 0.25s ease, color 0.25s ease, transform 0.3s ease-in-out;
}
.jv-roma.tg-item {
	cursor: pointer;
}
.jv-roma .tg-item-inner {
	overflow: hidden;
}
.jv-roma .tg-item-content {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}
.jv-roma:hover .tg-item-content {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.jv-roma .tg-media-icon {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin: -18px 0 0 -18px;
	opacity: 0;
}
.jv-roma:hover .tg-media-icon {
	opacity: 1;
}
.jv-roma .tg-media-icon i {
	position: relative;
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
    font-size: 32px;
	line-height: 36px;
	text-align: center;
	text-shadow: 0 0 6px rgba(0,0,0,0.5);
}
.jv-roma .tg-item-media-overlay .tg-media-button {
	opacity: 0 !important;
}
.jv-roma .tg-item-media-overlay .tg-media-button,
.jv-roma .tg-item-media-overlay,
.jv-roma .tg-item-media-holder,
.jv-roma .tg-item-overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
}
.jv-roma .tg-item-content {
	opacity: 0;
}
.jv-roma:hover .tg-item-content,
.jv-roma:hover .tg-item-overlay {
	opacity: 1;
}
.jv-roma .tg-item-title,
.jv-roma .tg-item-title a,
.jv-roma .tg-item-excerpt {
	position: relative;
	display: block;
    font-size: 15px;
	line-height: 18px;
	font-weight: 600;
	margin: 0 !important;
	padding: 0 !important;
}
.jv-roma .tg-item-excerpt {
	font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    padding: 8px 0 0 0 !important;
}
.jv-roma .tg-item-media-overlay .tg-media-button i,
.jv-roma .mejs-overlay-play {
	display: none !important;
}

/* Javo Taxonomy */
.jv-roma .tg-jv-category,
.jv-roma .tg-jv-location{
	position:relative;
	top:3px;
}

/** Javo Rating average **/
.jv-roma .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 12px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-roma .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-roma .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-directory/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-roma .tg-jv-tax-wrap {padding:15px 0 0 0;}
.jv-roma .tg-jv-category i.glyphicon, .jv-roma .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-roma .tg-jv-category {margin-right:15px;}