.jv-maren a,
.jv-maren a:active,
.jv-maren a:focus,
.jv-maren .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease;
	-moz-transition: opacity 0.25s ease, color 0.25s ease;
	-ms-transition: opacity 0.25s ease, color 0.25s ease;
	-o-transition: opacity 0.25s ease, color 0.25s ease;
	transition: opacity 0.25s ease, color 0.25s ease;
}
.jv-maren a:not(.mejs-volume-slider):hover {
	opacity: 0.85;
}
.jv-maren .tg-center-holder {
	text-align: center;
}
.jv-maren .tg-item-content-holder {
	position: relative;
	display: block;
	padding: 13px 24px 20px 24px;
	text-align: left;
}
.jv-maren .tg-item-date,
.jv-maren .tg-cats-holder {
	position: relative;
	display: inline;
    padding: 0 10px 0 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
}
.jv-maren .tg-cats-holder * {
	position: relative;
}
.jv-maren .tg-cats-holder:before {
    position: relative;
    display: inline-block;
	padding: 0 10px 0 0;
    content: '/';
    line-height: 22px;
}
.jv-maren .tg-item-title,
.jv-maren .tg-item-title a {
	position: relative;
    display: block;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
	margin: 6px 0 0 0 !important;
	padding: 0 !important;
    text-transform: uppercase;
}
.jv-maren .tg-item-title a {
	margin: 0 !important;
}
.jv-maren .tg-item-excerpt {
	margin: 18px 0;
	padding: 0;
	font-size: 13px;
	line-height: 23px;
}
.jv-maren .tg-item-read-more,
.jv-maren .tg-item-read-more * {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
    line-height: 18px;
    font-weight: 600;
	padding: 0;
}
.jv-maren .tg-item-read-more i {
	padding: 0 0 0 4px;
}
.jv-maren .tg-item-overlay {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jv-maren .tg-media-button,
.jv-maren .tg-link-button {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 10px;
	cursor: pointer;
	opacity: 0;
	font-size: 22px;
	line-height: 40px;
}
.jv-maren .tg-media-button i,
.jv-maren .tg-link-button i {
	position: absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.jv-maren .tg-icon-add {
	font-size: 30px;
}
.jv-maren .tg-item-footer {
	position: relative;
    display: inline-block;
    width: 100%;
	margin: 0 0 0 0;
	line-height: 25px;
}
.jv-maren .quote-format .tg-item-footer,
.jv-maren .link-format .tg-item-footer {
	margin: 38px 0 0 0;
}
.jv-maren .tg-item-author {
	position: relative;
    display: inline-block;
	float: left;
	font-size: 13px;
	font-style: italic;
	font-weight: 600;
}
.jv-maren .tg-item-comment {
	position: relative;
    display: inline-block;
	float: right;
	font-size: 13px;
}
.jv-maren .tg-item-comment i {
	position: relative;
    padding: 0 6px;
    top: 2px;
    font-size: 15px;
}
.jv-maren .tg-quote-icon,
.jv-maren .tg-link-icon {
	position: relative;
	display: block;
	font-size: 24px;
    margin: 0 0 28px 0;
}
.jv-maren .tg-link-content a,
.jv-maren .tg-quote-content a {
	display: block;
	margin: 18px 0 8px 0 !important;
	text-transform: none;
	font-size: 18px;
	font-style: italic;
	line-height: 24px;
	letter-spacing: 0.5px;
}
.jv-maren .tg-quote-author,
.jv-maren .tg-link-url {
	position: relative;
    display: block;
    margin: 0;
    font-size: 13px;
	font-style: italic;
}
.jv-maren .tg-quote-author:before {
	content: '\2012';
	position: relative;
    display: inline-block;
    margin: 0;
	padding: 0 5px 0 0;
}
.jv-maren .tg-media-button {
	-webkit-transform: translate3d(-40px,0,0);
	-moz-transform: translate3d(-40px,0,0);
	-ms-transform: translate3d(-40px,0,0);
	-o-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}
.jv-maren .tg-link-button {
	-webkit-transform: translate3d(40px,0,0);
	-moz-transform: translate3d(40px,0,0);
	-ms-transform: translate3d(40px,0,0);
	-o-transform: translate3d(40px,0,0);
	transform: translate3d(40px,0,0);
}
.jv-maren .tg-item-overlay,
.jv-maren .tg-media-button,
.jv-maren .tg-link-button {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out, -ms-transform 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.jv-maren .tg-item-media-holder:hover .tg-item-overlay,
.jv-maren .tg-item-media-holder:hover .tg-media-button,
.jv-maren .tg-item-media-holder:hover .tg-link-button {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.jv-maren.tg-is-playing .tg-item-overlay,
.jv-maren.tg-force-play .tg-item-overlay {
	pointer-events: none;
	opacity: 0 !important;
}
.jv-maren .mejs-overlay-play {
	display: none !important;
}


/** Javo Rating average **/
.jv-maren .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 13px;
    left: auto;
    right: 20px;
    margin: 8px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-maren .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-maren .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-maren .tg-jv-tax-wrap {padding:8px 0 0 0;}
.jv-maren .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999 !important; letter-spacing:0.5em;}
.jv-maren .tg-jv-category {margin-right:15px;}

.jv-maren .tg-item-excerpt{margin-top:6px; margin-bottom:22px;}