/*------------------------------------------------------------------
[Admin Theme Settings Stylesheet ]

Project:	Javo Themes
Version:	1.0
Last change:	09/07/15 [Organize CSS Structure]
Assigned to:	Javo
Primary use:	Admin Theme Settings Style
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

	- Javo Themes Options Radio
	- Javo Themes Text sortable
	- Backend menu icons
	- Welcome welcome pages
*/

@charset("utf-8");
@import url("font-awesome.css");

.wp-caption-text, .gallery-caption{}
.jvfrm_spot_sortable{ padding:0; margin:0; min-height:30px; cursor:default; }
.jvfrm_spot_sortable:after{ content:" "; display:block; clear:both; }
.jvfrm_spot_sortable.actived{
	display:block;
	background:#fff;
	border:solid 1px #aaa;
}
.jvfrm_spot_sortable.actived li{
	float:left;
	display:block;
	max-width:100px;
	padding:5px;
}
.jvfrm_spot_sortable.deactived{
	display:block;
	max-width:200px;
	border:solid 1px #ccc;
	background:#efefef;
}
.jvfrm_spot_sortable.deactived li{
	border:dashed 1px #999;
	padding:5px;
	margin:5px;
}
.jvfrm_spot_ts_header_div{
	background-color:#454545;
	border-radius:5px 5px 0 0;
	margin:20px 0 0 0;

}
.jvfrm_spot_ts_header_div:after{ content:" "; display:block; clear:both; }
.jvfrm_spot_ts_header{ margin:15px; }
.jvfrm_spot_ts_header.logo{
	float:left;
}
.jvfrm_spot_ts_header.logo > img{
	transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
}
.jvfrm_spot_ts_header.logo > img:hover{
	transform:rotatey(520deg);
	-webkit-transform:rotatey(520deg);
	-moz-transform:rotatey(520deg);
	-ms-transform:rotatey(520deg);
	-o-transform:rotatey(520deg);

}
.jvfrm_spot_ts_header.save_area{ float:right; }


/*
 *
 * Do not edit the CSS in this file, it will be overwritten with updates.
 * Use the included custom.css file instead.
 *
 */
.clearfix {clear:both;}
.javo-opts-group-tab .form-table .gaf_bp_fields.text_sortable label  {width:auto;}


#javo-opts-heading {
	margin-bottom: 20px;
}

#javo-opts-form-wrapper {
	background-color: #F7F7F7; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #F7F7F7 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#F7F7F7)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#F7F7F7 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#F7F7F7 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#F7F7F7 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#F7F7F7',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#F7F7F7 100%); /* W3C */
    border: 1px solid #e5e5e5;

	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	border-radius: 10px;

	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
}

#javo-opts-form-wrapper .hr {
	height: 1px;
	width: 60%;
	border-bottom: 1px solid #DFDFDF;
	margin: 0 auto;
	margin-bottom: -20px;
}

.javo-opts-info-field {
	margin-bottom: -20px;
}

#javo-opts-header,
#javo-opts-footer {
	text-align: right;
	padding: 20px;
}

#javo-opts-header {
	border-bottom: 1px solid #DFDFDF;
}

#javo-opts-footer {
	border-top: 1px solid #DFDFDF;
}

#javo-opts-footer #javo-opts-share {
	float: left;
}

#javo-opts-footer #javo-opts-share a {
	margin-right: 10px;
}

#javo-opts-footer #javo-opts-share a img {
	margin-bottom: -3px;
}

#javo-opts-sub-footer {
    text-align: center;
    font-size: .8em;
}

#javo-opts-save {
	margin: 0px;
	border-bottom: 1px solid #DFDFDF;
    background-color: #DFF0D8;
    color: #468847;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#javo-opts-imported {
	margin: 0px;
	border-bottom: 1px solid #BCE8F1;
    background-color: #D9EDF7;
    color: #3A87AD;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#javo-opts-save-warn {
	margin: 0px;
	display: none;
	border-bottom: 1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#javo-opts-field-warnings {
	margin: 0px;
	display: none;
	border-bottom: 1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#javo-opts-field-errors {
	margin: 0px;
	display: none;
	border-bottom: 1px solid #DFDFDF;
    background-color: #F2DEDE;
    color: #B94A48;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#javo-opts-sidebar,
#javo-opts-main {
	min-height: 300px;
}

#javo-opts-sidebar {
	width: 200px;
	float: left;
}

.javo-opts-menu-warning {
	background-color: #C09853;
    color: #FCF8E3;
	display: inline-block;
	float: right;
    padding: 6px 7px 4px 7px;
    margin-left: 4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}

.javo-opts-menu-error {
	background-color: #B94A48;
    color: #F2DEDE;
	display: inline-block;
	float: right;
    padding: 6px 7px 4px 7px;
    margin-left: 4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}

#javo-opts-main {
	background: #FFFFFF;
	margin-left: 201px;
	border-left: 1px solid #DFDFDF;
	padding: 10px 20px;
}

#javo-opts-sidebar #javo-opts-group-menu {
	margin-top: 0px;
}

#javo-opts-sidebar #javo-opts-group-menu li {
	margin: 0px;
}

#javo-opts-sidebar #javo-opts-group-menu li.divide {
	padding: 0px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
}

#javo-opts-sidebar #javo-opts-group-menu li a {
	display: block;
	padding: 14px 14px;
	background: #000000;
    color: #ffffff;
	line-height:1;
    font-weight: 600;
    text-decoration:none;
	font-size:1em;
}

#javo-opts-sidebar #javo-opts-group-menu li a.custom-tab {
	background: #f6f6f6;
}

#javo-opts-sidebar #javo-opts-group-menu li a img {
	width: 16px;
	height: 16px;
	/*vertical-align:middle;*/
	margin-bottom:-3px;
}

#javo-opts-sidebar #javo-opts-group-menu li a:hover {
	background: #048B09;
	width: 174px;
	margin-right: -2px;
}

#javo-opts-sidebar #javo-opts-group-menu li.active a {
	background: #FF0047;
	width: 174px;
	margin-right: -2px;
	color:#fff;
}

.javo-opts-group-tab h3 {
	margin-top: 0px;
	font-size: 1.8em;
	line-height: 2em;
	border-bottom: 1px solid #DFDFDF;
}

.javo-opts-group-tab .javo-opts-section-desc {
	font-style: italic;
	font-size: 1.2em;
	color: #666666;
}

.javo-opts-group-tab .form-table {
	border-top: 1px solid #DFDFDF;
	clear: none;
	margin-top: 20px;
}

.javo-opts-group-tab .form-table.no-border {
	border-top: none;
}

.javo-opts-group-tab .form-table tr {
	border-bottom: 1px solid #DFDFDF;
}
.javo-opts-group-tab .form-table.no-border tr{ border:none; }
.javo-opts-group-tab .form-table tr:last-child {
	border-bottom: none;
}
.javo-opts-group-tab .form-table tr th,
.javo-opts-group-tab .form-table tr td {
	padding: 20px 20px 40px 20px;
	color: #797979;
}

.javo-opts-group-tab .form-table tr th {
	font-weight: bold;
	font-size: 1.2em;
	width: 25%;
}

.javo-opts-group-tab .form-table tr th span { /* :first-child */
	font-weight: normal;
	display: block;
	color: #666666;
}

.javo-opts-group-tab .form-table tr td .javo-opts-th-warning {
	font-size: 1em;
    color: #C09853;
	font-weight: normal;
	display: block;
}

.javo-opts-group-tab .form-table tr td .javo-opts-field-warning {
	border-color: #C09853;
}

.javo-opts-group-tab .form-table tr td .javo-opts-th-error {
	font-size: 1em;
	color: #B94A48;
	font-weight: normal;
	display: block;
}

.javo-opts-group-tab .form-table tr td .javo-opts-field-error {
	border-color: #B94A48;
}

/* reset nested tables for mce */
.javo-opts-group-tab .form-table tr td table.mceLayout,
.javo-opts-group-tab .form-table tr td table.mceLayout tr,
.javo-opts-group-tab .form-table tr td table.mceLayout tr td {
	padding:0px;
	border-width:0px;
}

.javo-opts-group-tab .javo-opts-item-data {
	padding: 20px 0px;
	border-top: 1px solid #DFDFDF;
}

.javo-opts-group-tab .javo-opts-item-data.item-uri,
.javo-opts-group-tab .javo-opts-item-data.item-author,
.javo-opts-group-tab .javo-opts-item-data.item-version {
	padding:0px;
	border-width:0px;
}

.javo-opts-group-tab .javo-opts-item-data.item-description {
	padding: 10px 0px;
	border-width: 0px;
}

[class^="icon-"], [class*=" icon-"] {
	color: #333333;
}

/*
 *
 * Javo Themes Options Radio
 *
 */
.javo-radio-img input[type='radio'] {
	display: none;
}

.javo-radio-img,
.javo-radio-img-selected {
	margin: 6px;
	display: inline-block;
	padding: 10px;
	border: 1px solid #FFF;
}

.javo-radio-img:hover {
	border: 1px solid #EDEDED;
}

.javo-radio-img-selected {
	background-color: #f4f4f4;
	border: 1px solid #EDEDED;
}

.javo-radio-img img,
.javo-radio-img-selected img {
	border-width: 4px;
	border-style: solid;
}

.javo-radio-img img {
	border-color: #e9e9e9;
}

.javo-radio-img-selected img {
		border-color: #c9c9c9;
}
.farb-popup-wrapper {
	position: relative;
	display: block;
}

.farb-popup {
	position: absolute;
	left: 40px;
	top: 40px;
	background-color: white;
	border: 1px solid #222;
	padding: 5px;
	z-index: 100;
}

#javo-opts-import-link-wrapper,
#javo-opts-import-code-wrapper {
	display: none;
}

#javo-opts-export-code,
#javo-opts-export-link-value {
	display: none;
}

#javo-opts-import-action span {
	color: #B94A48;
}

#import_divide {
	margin: 40px 0px;
	border-bottom: 1px solid #DFDFDF;
}

.javo-opts-screenshot {
	max-width: 300px;
	display: block;
}

@media screen and (max-width : 900px) {
	#javo-opts-sidebar {
		width: 42px;
	}

	#javo-opts-main {
		margin-left: 43px;
	}

	.javo-opts-group-tab-link-a {
		position: relative;
	}

	.javo-opts-group-tab-link-a span {
		display: none;
		position: absolute;
		top: 0;
		left: 44px;
		padding: 14px;
		width: 200px;
		background: #F7F7F7;
		border: 1px solid #DFDFDF;
		border-width: 1px 1px 1px 0px;
	}

	.javo-opts-group-tab-link-a:hover > span {
		display: block;
	}

	#javo-opts-sidebar #javo-opts-group-menu li a,
	#javo-opts-sidebar #javo-opts-group-menu li a:hover,
	#javo-opts-sidebar #javo-opts-group-menu li.active a,
	#javo-opts-sidebar #javo-opts-group-menu li.active a:hover {
		width: 15px;
	}

	table.form-table, .form-table > thead, .form-table > tbody, .form-table > tbody > tr > th, .form-table > tbody > tr > td, .form-table > tbody > tr {
		display: block !important;
		width: 100% !important;
		padding: 0px !important;
	}

	.form-table > tbody > tr > th, .form-table > tbody > tr > td {
		padding: 10px !important;
	}

	.form-table > tbody > tr > td span.description {
		display: block;
	}
}


/* checkbox switch */
.switch_wrap input[type="checkbox"] {
  position:absolute;
  left:-9999px;
  opacity: 0;
}

.switch_wrap input[type="checkbox"]:checked + .switch {
  background-color: #6cbc43;
}

.switch_wrap input[type="checkbox"]:checked + .switch::before {
  display: block;
}

.switch_wrap input[type="checkbox"]:checked + .switch::after {
  display: none;
}

.switch_wrap input[type="checkbox"]:checked + .switch .bullet {
  left: 33px;
}

.switch_wrap .switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 24px;
  line-height: 24px;
  margin-right: 1em;
  margin-top: -3px;
  vertical-align: middle;
  background-color: #c1272d;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgb(255,255,255);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgb(255,255,255);
}

.switch_wrap .switch::before,
.switch_wrap .switch::after {
  content: 'ON';
  display: none;
  width: 50%;
  position: absolute;
  top: 0;
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}

.switch_wrap .switch::after {
  content: 'OFF';
  display: block;
  right: 0;
}

.switch_wrap .switch .bullet {
  position: relative;
  display: block;
  width: 32px;
  height: 26px;
  top: -2px;
  left: -2px;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e6e6e6);
  background-image: -moz-linear-gradient(top, #f0f0f0, #e6e6e6);
  background-image: -ms-linear-gradient(top, #f0f0f0, #e6e6e6);
  background-image: -o-linear-gradient(top, #f0f0f0, #e6e6e6);
  background-image: linear-gradient(top, #f0f0f0, #e6e6e6);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 white inset, 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 white inset, 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: left 0.1s linear;
  -moz-transition: left 0.1s linear;
  -ms-transition: left 0.1s linear;
  -o-transition: left 0.1s linear;
  transition: left 0.1s linear;
}

.switch_wrap .switch .bullet::before,
.switch_wrap .switch .bullet::after {
  content: '';
  display: block;
  height: 15px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -6px;
  border: 1px solid #cccccc;
  border-width: 0 1px;
  -webkit-box-shadow: 1px 0 0 white, 1px 0 0 white inset;
  box-shadow: 1px 0 0 white, 1px 0 0 white inset;
}

.switch_wrap .switch .bullet::after {
  margin-left: 2px;
}

/*
 *
 * Javo Themes Text sortable
 *
 */
.javo-opts-group-tab .form-table .text_sortable {
	clear: both;
}
.javo-opts-group-tab .form-table .text_sortable label {
	float: left;
	display: block;
	width: 100px;
}
.javo-opts-group-tab .form-table .text_sortable input[type=text] {
	width: 200px;
}
.javo-opts-group-tab .form-table .text_sortable .drag {
	margin-left: 1em;
}

/* Fix datepicker empty div at bottom of the page */
#ui-datepicker-div {
	display: none;
}

#javo-opts-main .wp-picker-container {
	vertical-align: middle;
}

/* TODO: remove pink */
.pink {
	background: pink;
}

.javo-opts-group-tab h4.subtitle {
    font-size:1.3em;
    padding: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    background: #f2f2f2;
}

.javo-opts-group-tab select {
    padding: 7px;
    height: auto;
}

.preview_zone {font-size:16px;margin-top: 10px;}
.form-table h4 {font-size: 1.0em; font-weight: bold; margin:5px 0;}
.form-table h4.section { border-bottom: 1px solid #DFDFDF;padding-bottom: 5px;margin:10px 0;}


#item_info_section_group_li, #javo-opts-share {display:none !important;}



#javo-opts-group-menu span {float:left; background: url("../images/admin-menu-icons.png") no-repeat; display:inline-block; width:16px; height:16px;}

.javo-option-general span{
background-position: 0px -50px;
}

#javo-opts-group-menu a {
padding: 10px;
display: block;
color: white;
cursor: pointer;
border: 0;
opacity: .8;
outline: none;
text-decoration: none;
-webkit-transition: background ease-in-out 0.2s , padding ease-in-out 0.2s;
-moz-transition: background ease-in-out 0.2s , padding ease-in-out 0.2s;
-o-transition: background ease-in-out 0.2s , padding ease-in-out 0.2s;
transition: background ease-in-out 0.2s , padding ease-in-out 0.2s;
}

.form-table h4 {font-family: "Open Sans",sans-serif;}
.javo-version-info {float:left; padding:31px 0 0 0; color:#fff;}
.javo-version-info a {color:#ff5a5f; text-decoration:none;}
h4, span, fieldset{ cursor:default; }
.required{
	font:bold .9em/.9em "Open Sans", sans-serif;
	color:#f00;
	padding:2px;
	margin:0px 2px;
	text-transform:uppercase;
}

.jvfrm_spot_ts_tab fieldset img{
	max-width:100%;
}

fieldset.inner{ padding: 0 0 0 30px; }


/** Backend menu icons **/
#adminmenu .menu-icon-item div.wp-menu-image:before {content: '\f163';}
#adminmenu .menu-icon-payment div.wp-menu-image:before {content: '\f174';}
#adminmenu .menu-icon-jv_testimonials div.wp-menu-image:before {content: '\f464';}
#adminmenu .menu-icon-jv_team div.wp-menu-image:before {content: '\f307';}
#adminmenu .menu-icon-jv_partners div.wp-menu-image:before {content: '\f325';}
#adminmenu .menu-icon-jv_benefits div.wp-menu-image:before {content: '\f176';}
#adminmenu .menu-icon-jv_faqs div.wp-menu-image:before {content: '\f125';}
#adminmenu .menu-icon-generic div.wp-menu-image:before {content: '\f110';}
#adminmenu .menu-icon-jv_events div.wp-menu-image:before {content: '\f145';}
#adminmenu .menu-icon-ratings div.wp-menu-image:before {content: '\f154';}
#adminmenu .menu-icon-review div.wp-menu-image:before {content: '\f157';}
#adminmenu .menu-icon-jv_claim div.wp-menu-image:before {content: '\f160';}


/* Welcome welcome pages */
.welcome-msg-version {font-size:9px;}
.jv-float-left {float:left;}
.jv-float-right {float:right;}
.welcome-des {padding-right:20px;}