/*
Theme Name: Javo Directory
Theme URI: http://javothemes.com/directory
Description: Child theme for the Javo directory
Author: Javo Themes
Author URI:     http://javothemes.com
Template: javo-directory
Version:  1.0
*/
@import url("../javo-directory/style.css");
/* Add Custom Styles From Here */

/* MENU BAR UPDATES TO LOGO HEIGHT */

nav.navbar.navbar-inverse.navbar-static-top.javo-main-navbar.javo-navi-bright.affix-top {
    height: 80px !important;
}

a.navbar-brand {
    padding-top: 10px !important;
}

img#javo-header-logo {
    max-height: 70px;
}

#header-one-line #javo-navibar ul.navbar-left .menu-item a {
	font-weight: 300;
    color: #10A307 !important;
}

.javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover, .javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover span, .javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover img {
    color: #8ADB1D !important;
    border-color: #8ADB1D !important;
}

/* LOGIN ICONS TOP RIGHT */

html body header#header-one-line #javo-navibar .navbar-right>li>a>span,
html body header#header-one-line .affix #javo-navibar .navbar-right>li>a>span {
    color: #10A307;
    border-color: #10A307;
}

/* HEADING COLOURS */

.h1, .h2, .h3, h1, h2, h3 {
	color: #10A307;
}

