/*
Theme Name: Javo Directory
Theme URI: http://javothemes.com/directory
Description: Child theme for the Javo directory
Author: Javo Themes
Author URI:     http://javothemes.com
Template: javo-directory
Version:  1.0
*/
@import url("../javo-directory/style.css");
/* Add Custom Styles From Here */

/* MENU BAR UPDATES TO LOGO HEIGHT */

nav.navbar.navbar-inverse.navbar-static-top.javo-main-navbar.javo-navi-bright.affix-top {
    height: 80px !important;
}

a.navbar-brand {
    padding-top: 10px !important;
}

img#javo-header-logo {
    max-height: 70px;
}

#header-one-line #javo-navibar ul.navbar-left .menu-item a {
	font-weight: 300;
    color: #10A307 !important;
}

.javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover, .javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover span, .javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover img {
    color: #8ADB1D !important;
    border-color: #8ADB1D !important;
}

/* LOGIN ICONS TOP RIGHT */

html body header#header-one-line #javo-navibar .navbar-right>li>a>span,
html body header#header-one-line .affix #javo-navibar .navbar-right>li>a>span {
    color: #10A307;
    border-color: #10A307;
}

/* HEADING COLOURS */

.h1, .h2, .h3, h1, h2, h3 {
	color: #10A307;
}

/* H3 CONTENT BLOCKS */

.large-text-block h3 {
    line-height: 40px !important;
}

/* ADJUST SLIDER ON HOME PAGE */

ol.flex-control-nav.flex-control-paging {
    display: none !important;
}

.flexslider {
    border: 0px  !important;
    border-radius: 0px;
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    margin-bottom: 0px !important;
}

// .vc_row.wpb_row.vc_row-fluid.special-slider.vc_row-o-equal-height.vc_row-o-content-top.vc_row-flex.ult-vc-hide-row.vc_row-has-fill {
//     background-color: #edefed !important;
// }

div#page-style {
    background-color: #edefed ;
}

.special-slider .upb_row_bg {
    background-color: #ffffff !important;
}

/* UPDATE FORMIDABLE */

.home-page-mailing-list h2 {
    color: #ffffff;
}

.home-page-mailing-list .frm_style_formidable-style.with_frm_style label.frm_primary_label {
    color: #ffffff;
}

/* REMOVE CONTACT ICON FROM BOTTOM OF PAGE */

// a.btn.btn-primary.btn-lg.javo-quick-contact-us.javo-dark.admin-color-setting {
//     display: none !important;
// }

/* CHANGE TOGGLE BACKGROUND COLOUR */

.vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading {
    background-color: #ffffff !important;
}

/* DON'T SHOW KEYWORD FIELD ON INPUT FORM */

.input-group.jv-item-keyword {
    display: none;
}

input[type=radio] {
    margin-right: 5px;
}

/* CHANGE BANNER COLOUR ON USER ADMIN PAGE */

.top-row {
    background: #8ADB1D;
}

/* REMOVE LINES BESIDE TITLES */

.line-title-bigdots {
    background-image: none;
}
/* MAKE FORM TITLES INLINE & REMOVE BORDERS & BACKGROUND*/

.input-group-addon {
    display: inline;
    background: none;
    border: none;
    font-size: 12px;
    padding-left: 0px;
}

.input-group .form-control {
    display: inline-block;
}

/* CHANGE BUTTON COLOUR TO LIME */

.btn-info,
.btn-primary {
    color: #fff;
    background-color: #8ADB1D;
    border-color: #8ADB1D;
    font-size: 14px;
}

/* MAKE PADDING ON TABLES FOR FOLLOW ME SEND EMAILS SCREEN IN USER ADMIN  */

td, th {
    padding: 5px;
}

/* MAKE PADDING ON TABLES FOR FOLLOW ME SEND EMAILS SCREEN IN USER ADMIN  */

div#mceu_19 {
    border: 1px solid #efefef !important;
}

/* MAKE SUBJECT BOX ON EMAIL POPUP TALLER FOR FOLLOW ME SEND EMAILS SCREEN IN USER ADMIN */

input {
    line-height: 30px !important;
}

/* CHANGE HEADING COLOURS  */

h1, h2, h3, h4, h5, h6 {
    color: #10A307 !important;
}

/* CHANGE USER NAME TO WHITE ON ADMIN AREA  */

.jv-my-page .author-names {
    color: #ffffff !important;
}

/*** Change button color ***/

.wpweb-bg-blue-color{
	background-color: #144E7A;
	border-color: #144E7A;
}
div.jv-item-taxonomy .col-md-6:nth-child(2) .javo-add-item-term-area {
	background-color: #ffffff;
    border: medium none;
    height: 400px;
    overflow: unset;
}
.fmbpc-term-list{
	width: 270px;
}
form#frm_item div.form-left div.input-group{
	width: 100%;
}
form#frm_item .javo-add-item-map-search-find{
	margin-bottom: -47%;
    padding: 1px 12px !important;
}

/* CHANGES TO USER ADMIN - MAPS HEIGHT & DROPDOWN HEIGHT */

.javo-add-item-term-area {
    height: 100% !important;
    background-color: white !important;
    border: none !important;
    overflow: hidden !important;
}
.map_area {
    height: 600px !important;
}
.input-group.jv-item-address {
    margin-bottom: 15px;
}
.javo-add-item-term-area label:hover {
    text-decoration: none;
}
.javo-fileupload-cancel{
	background-color: #d9534f !important;
	border-color: #d9534f !important;
}
.line-title-bigdots .input-group{
	display: inline !important;
}
/*user name */
.javo-navi-user-name{
	padding: 25px 0 !important;
}
.col-md-6.text-left.map-box-filter {
    padding-right: 0px;
}
.javo-filter-column.javo-all-location {
    width: 66% !important;
}

.javo-navi-bright .navbar-nav > li {
	padding:3px 0;
}
.javo-map-inner-control-wrap {
	display:none;
}

.main-map-search-wrap .col-md-4 {
    padding-left: 1px;
    width: 31.333%;
}

.main-map-search-wrap .col-md-2 {
    padding-left: 0;
    padding-right: 0;
}
.main-map-search-wrap .col-md-8 {
 	padding-left: 3%;
    padding-right: 2%;
}


#javo-header-featured-menu {
    list-style: none !important;
    padding: 0px !important;
    margin: 0px !important;
}
#javo-header-featured-menu .javo-navi-user-name{
	padding : 0px !important;
	float: left;
    margin-top: 8px;
	
}
#javo-header-featured-menu li>a>img {
    border: 3px solid#777;
    border-radius: 100%;
    width: 29px !important;
    height: 29px !important;
    position: relative;
    top: 3px;
}
#javo-header-featured-menu li>a:hover >img{
    color: #8ADB1D !important;
    border-color: #8ADB1D !important;
}
#javo-header-featured-menu .dropdown-menu {
    background: #262626;
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 0px;
    left:-78px;
    
}
#javo-header-featured-menu .dropdown-menu:before {
	border:none !important;   
}
#javo-header-featured-menu .dropdown-menu li a {
    font-size: 13px;
    color: #ddd;
    padding: 10px 20px;
    line-height: 18px !important;
}
#javo-header-featured-menu .dropdown-menu li a:hover {
    background: #000;
    color: #fff;
}
input#javo-map-box-auto-locations {
    width: 100%;
    max-width: 181px;
    padding: 16px;
}
@media only screen and (max-width:767px){
div#javo-navibar ul.navbar-right{
	display : none !important;
}
}

#javo-map-box-auto-locations{
	padding:0px !important;
	min-height:34px;
}