.jv-podgorica a,
.jv-podgorica a:active,
.jv-podgorica a:focus,
.jv-podgorica .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease;
	-moz-transition: opacity 0.25s ease, color 0.25s ease;
	-ms-transition: opacity 0.25s ease, color 0.25s ease;
	-o-transition: opacity 0.25s ease, color 0.25s ease;
	transition: opacity 0.25s ease, color 0.25s ease;
}
.jv-podgorica:not(.tg-force-play):not(.tg-is-playing) .tg-media-button:hover,
.jv-podgorica a:not(.mejs-volume-slider):not(.tg-media-button):hover {
	opacity: 0.85;
}
.jv-podgorica.tg-force-play .tg-media-button,
.jv-podgorica.tg-is-playing .tg-media-button {
	opacity: 0;
	visibility: hidden;
}
.jv-podgorica .tg-item-content-holder {
	position: relative;
	display: block;
	padding: 18px;
	text-align: left;
}
.jv-podgorica .tg-item-title,
.jv-podgorica .tg-item-title a {
	position: relative;
    overflow: hidden;
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.jv-podgorica .tg-item-title a {
	padding: 0 !important;
}
.jv-podgorica .tg-media-button,
.jv-podgorica .tg-link-button {
    position: absolute;
    display: block;
    top: 0;
    margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
	background: none !important;
}
.jv-podgorica .tg-media-button i,
.jv-podgorica .tg-link-button i {
    position: absolute;
    display: block;
    top: 50%;
    margin: -38px auto 0 auto;
    height: 76px;
    width: 100%;
    line-height: 75px;
    font-size: 48px;
    text-align: center;
	-webkit-transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
	-moz-transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
	-ms-transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
	-o-transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
	transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
}
.jv-podgorica .tg-media-button i,
.jv-podgorica .tg-link-button i {
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}
.jv-podgorica .tg-item-media-holder:hover .tg-media-button i,
.jv-podgorica .tg-item-media-holder:hover .tg-link-button i {
	-webkit-transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
}
.jv-podgorica .tg-item-duration {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    padding: 8px 18px;
    background: rgba(87,93,104,0.85);
    font-size: 11px;
    line-height: 11px;
	color: #ffffff;
	pointer-events: none;
}
.jv-podgorica .tg-item-views,
.jv-podgorica .tg-item-date {
    position: relative;
	display: inline-block;
	font-size: 13px;
}
.jv-podgorica .tg-item-views:before,
.jv-podgorica .tg-item-date:before {
	content: "/";
    position: relative;
	display: inline-block;
	font-size: 13px;
	margin: 0 6px;
}

/** Javo Rating average **/
.jv-podgorica .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    left: 0;
    margin: 14px 10px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-podgorica .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-podgorica .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-directory/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-podgorica .tg-jv-tax-wrap {padding:15px 0 0 0;}
.jv-podgorica .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-podgorica .tg-jv-category {margin-right:15px;}