.jv-dacca a,
.jv-dacca a:active,
.jv-dacca a:focus,
.jv-dacca .tg-item-title {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.4s ease, color 0.25s ease, -webkit-transform 0.25s ease-in-out;
	-moz-transition: opacity 0.4s ease, color 0.25s ease, -moz-transform 0.25s ease-in-out;
	-ms-transition: opacity 0.4s ease, color 0.25s ease, -ms-transform 0.25s ease-in-out;
	-o-transition: opacity 0.4s ease, color 0.25s ease, -o-transform 0.25s ease-in-out;
	transition: opacity 0.4s ease, color 0.25s ease, transform 0.25s ease-in-out;
}
.jv-dacca .tg-item-inner,
.jv-dacca .tg-atv-shadow,
.jv-dacca .tg-item-media-holder,
.jv-dacca .tg-item-content-holder {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.jv-dacca .tg-item-media-holder {
	z-index: 1;
}
.jv-dacca .tg-center-holder {
	text-align: center;
}
.jv-dacca .tg-atv-shadow {
    -webkit-transform: translateZ(-1px);
}
.jv-dacca {
	cursor: pointer;
}
.jv-dacca:hover {
	z-index: 2;
}
.jv-dacca .tg-item-inner,
.jv-dacca .tg-atv-anim {
	transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
	-webkit-transition: all 0.27s ease-out;
	-moz-transition: all 0.27s ease-out;
	-ms-transition: all 0.27s ease-out;
	-o-transition: all 0.27s ease-out;
	transition: all 0.27s ease-out;
}
.jv-dacca .tg-item-inner {
	transform-style: initial !important;
}
.is-ie .tg-atv-anim.over {
	transition: none;
}
.jv-dacca .tg-center-holder {
	overflow: hidden;
}
.jv-dacca .tg-atv-holder,
.jv-dacca .tg-atv-anim,
.jv-dacca .tg-item-content-holder,
.jv-dacca .tg-item-content-inner,
.jv-dacca .tg-item-media-holder,
.jv-dacca .tg-item-overlay ,
.jv-dacca .tg-media-button,
.jv-dacca .tg-item-link {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	outline: 1px solid transparent;
}
.jv-dacca .tg-media-button {
	display: none;
}
.jv-dacca .tg-item-link ,
.jv-dacca .tg-media-button,
.jv-dacca .tg-item-content-holder {
	overflow: hidden;
	z-index: 2;
	background: none !important;
	-webkit-transform: translateZ(52px);
    -moz-transform: translateZ(52px);
    -ms-transform: translateZ(52px);
    -o-transform: translateZ(52px);
    transform: translateZ(52px);
}
.jv-dacca .tg-item-overlay,
.jv-dacca .tg-item-content-inner {
	z-index: 2;
	opacity: 0;
	-webkit-transition: all 0.4s cubic-bezier(0.12, 0.65, 0.4, 1);
	-moz-transition: all 0.4s cubic-bezier(0.12, 0.65, 0.4, 1);
	-ms-transition: all 0.4s cubic-bezier(0.12, 0.65, 0.4, 1);
	-o-transition: all 0.4s cubic-bezier(0.12, 0.65, 0.4, 1);
	transition: all 0.4s cubic-bezier(0.12, 0.65, 0.4, 1);
}
.jv-dacca:hover .tg-item-overlay {
	opacity: 1;
}
.jv-dacca .tg-item-content-inner {
	padding: 30px;
	-webkit-transform: scale3d(0.8,0.8,0.8);
    -moz-transform: scale3d(0.8,0.8,0.8);
    -ms-transform: scale3d(0.8,0.8,0.8);
    -o-transform: scale3d(0.8,0.8,0.8);
    transform: scale3d(0.8,0.8,0.8);
}
.jv-dacca:hover .tg-item-content-inner {
	opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.jv-dacca.tg-is-playing .tg-media-button,
.jv-dacca.tg-force-play .tg-media-button,
.jv-dacca.tg-is-playing .tg-item-overlay,
.jv-dacca.tg-force-play .tg-item-overlay,
.jv-dacca.tg-is-playing .tg-item-content-holder,
.jv-dacca.tg-force-play .tg-item-content-holder {
	opacity: 0;
	z-index: -1;
	-webkit-transform: translateZ(-10px);
    -moz-transform: translateZ(-10px);
    -ms-transform: translateZ(-10px);
    -o-transform: translateZ(-10px);
    transform: translateZ(-10px);
}
.jv-dacca.tg-is-playing .tg-atv-anim,
.jv-dacca.tg-force-play .tg-atv-anim {
	-webkit-transform: translate3d(0,0,0) !important;
    -moz-transform: translate3d(0,0,0) !important;
    -ms-transform: translate3d(0,0,0) !important;
    -o-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
}
.jv-dacca .tg-item-title,
.jv-dacca .tg-item-title a {
	position: relative;
	display: block;
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
	margin: 0 !important;
	padding: 0 !important;
}
.jv-dacca[data-col="1"] .tg-item-title,
.jv-dacca[data-col="1"] .tg-item-title a {
    font-size: 26px;
	line-height: 30px;
}
.tg-layout-justified .jv-dacca[data-col="1"] .tg-item-title,
.tg-layout-justified .jv-dacca[data-col="1"] .tg-item-title a,
.tg-layout-justified .jv-dacca .tg-item-title,
.tg-layout-justified .jv-dacca .tg-item-title a {
    font-size: 18px;
	line-height: 20px;
}
.jv-dacca .tg-item-title {
	padding: 0 30px !important;
}
.tg-layout-justified .jv-dacca .tg-item-title {
    padding: 0 10px !important;
}
.jv-dacca .tg-atv-shadow {
    font-size: 14px;
    position: relative;
    line-height: 22px;
}
.jv-dacca .tg-cats-holder {
    position: relative;
    display: block;
    margin: 15px 30px;
    font-size: 20px;
    line-height: 26px;
	font-weight: 900;
}
.jv-dacca .tg-cats-holder * {
    position: relative;
	font-weight: 900;
}
.jv-dacca[data-col="1"] .tg-cats-holder {
	margin: 5px 30px;
    font-size: 14px;
	line-height: 22px;
	font-weight: 600;
}
.tg-layout-justified .jv-dacca[data-col="1"] .tg-cats-holder,
.tg-layout-justified .jv-dacca .tg-cats-holder {
    font-size: 12px;
	line-height: 18px;
}
.jv-dacca[data-col="1"] .tg-cats-holder * {
	font-weight: 600;
}
.jv-dacca .tg-atv-shadow {
	position: absolute;
	visibility: hidden;
	top: 3%;
	left: 5%;
	width: 90%;
	height: 90%;
	transition: all 0.3s ease-out;
	box-shadow: 0 8px 10px rgba(14,21,47,0.6);
}
.jv-dacca .tg-atv-anim.over .tg-atv-shadow {
	visibility: visible;
	box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}
.jv-dacca.tg-is-playing .tg-atv-anim.over .tg-atv-shadow,
.jv-dacca.tg-force-play .tg-atv-anim.over .tg-atv-shadow {
	position: absolute;
	visibility: hidden;
}
.jv-dacca:hover .tg-atv-layer {
	-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.jv-dacca:hover .tg-item-image {
	outline: 1px solid transparent;
}
@media only screen and (max-width: 980px) {
	.jv-dacca .tg-item-title,
	.jv-dacca .tg-item-title a {
		font-size: 26px;
		line-height: 36px;
	}
	.jv-dacca[data-col="1"] .tg-item-title,
	.jv-dacca[data-col="1"] .tg-item-title a {
		font-size: 22px;
		line-height: 32px;
	}
	.jv-dacca .tg-cats-holder {
		position: relative;
		display: block;
		margin: 5px 30px;
		font-size: 14px;
		line-height: 22px;
	}
}

/** Javo Taxonomy **/
.jv-dacca .tg-jv-category,
.jv-dacca .tg-jv-location{
    position: relative;
    top: 8px;
}
/** Javo Rating average **/
.jv-dacca .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    left: 0;
    margin: 20px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-dacca .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-dacca .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-directory/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-dacca .tg-jv-tax-wrap {padding:15px 0 0 0;}
.jv-dacca .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-dacca .tg-jv-category {margin-right:15px;}