.jv-caracas a,
.jv-caracas a:active,
.jv-caracas a:focus,
.jv-caracas .tg-media-button,
.jv-caracas .tg-item-media-holder,
.jv-caracas .tg-item-content {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease, -webkit-transform 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease, color 0.25s ease, -moz-transform 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease, color 0.25s ease, -ms-transform 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease, color 0.25s ease, -o-transform 0.25s ease-in-out;
	transition: opacity 0.25s ease, color 0.25s ease, transform 0.25s ease-in-out;
}
.jv-caracas.tg-item,
.jv-caracas .tg-center-outer {
	overflow: hidden;
}
.jv-caracas .tg-item-content,
.jv-caracas .tg-item-media-holder,
.jv-caracas .tg-item-overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.jv-caracas .tg-item-link {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000%;
}
.jv-caracas .tg-item-content {
	height: auto;
	top: 100%;
	min-height: 40px;
	text-align: center;
	padding: 16px;
	background: #ffffff;
}
.jv-caracas:hover .tg-item-media-holder {
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
}
.jv-caracas:hover .tg-item-content {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.jv-caracas .tg-item-content,
.jv-caracas.tg-is-playing .tg-item-media-holder,
.jv-caracas.tg-force-play .tg-item-media-holder,
.jv-caracas.tg-is-playing .tg-item-content,
.jv-caracas.tg-force-play .tg-item-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.jv-caracas .tg-item-title,
.jv-caracas .tg-item-title a {
	position: relative;
    font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	margin: 0 !important;
	padding: 0 !important;
	text-transform: uppercase;
}
.jv-caracas .tg-item-title {
	margin: 0 30px 2px 30px !important;
}
.tg-layout-justified .jv-caracas .tg-item-title {
    margin: 0 0 2px 0 !important;
}
.tg-layout-justified .jv-caracas .tg-item-title,
.tg-layout-justified .jv-caracas .tg-item-title a {
    font-size: 14px;
	line-height: 18px;
}
.jv-caracas .tg-cats-holder {
	position: relative;
	display: block;
	margin: 0 30px;
	font-size: 13px;
	line-height: 18px;
	font-style: italic;
}
.jv-caracas .tg-media-button {
    position: absolute;
    display: block;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    text-align: center;
}
.jv-caracas .tg-cats-holder a:hover,
.jv-caracas .tg-media-button:hover {
	opacity: 0.75;
}
.jv-caracas .tg-media-button i {
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
    font-size: 18px;
	line-height: 20px;
	cursor: pointer;
}
.jv-caracas .tg-media-button .tg-icon-add {
    font-size: 28px;
}
.jv-caracas .mejs-overlay-play {
	display: none !important;
}

/*Javo Taxonomy*/
.jv-caracas .tg-jv-category,
.jv-caracas .tg-jv-location{position:relative; z-index:1;}

/** Javo Rating average **/
.jv-caracas .tg-jv-meta-rating-wrap {
    position: relative;
    top: 0;
    left: 0;
    margin: 4px auto 0;	
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-caracas .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-caracas .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-directory/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-caracas .tg-jv-tax-wrap {padding:15px 0 0 0;}
.jv-caracas .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-caracas .tg-jv-category {margin-right:15px;}