/* Common Css for the grid */

/** Rating average **/
.meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 10px;
    margin: 14px 10px;	
	z-index: 1;
	width: 75px;
	height: 15px;
}

.meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('http://javothemes.com/spot/demo4/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}
