.jv-lisboa a,
.jv-lisboa a:active,
.jv-lisboa a:focus,
.jv-lisboa .tg-item-title,
.jv-lisboa .tg-item-excerpt,
.jv-lisboa .tg-cats-holder {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.25s ease, color 0.25s ease, -moz-transform 0.3s ease-in-out;
	-ms-transition: opacity 0.25s ease, color 0.25s ease, -ms-transform 0.3s ease-in-out;
	-o-transition: opacity 0.25s ease, color 0.25s ease, -o-transform 0.3s ease-in-out;
	transition: opacity 0.25s ease, color 0.25s ease, transform 0.3s ease-in-out;
}
.jv-lisboa.tg-item {
	cursor: pointer;
}
.jv-lisboa .tg-center-holder {
	text-align: center;
}
.jv-lisboa .tg-item-inner {
	overflow: hidden;
}
.jv-lisboa .tg-center-holder {
	opacity: 0;
}
.jv-lisboa:hover .tg-center-holder {
	opacity: 1;
}
.jv-lisboa .tg-center-holder {
	padding: 20px 10px;
}
.jv-lisboa .tg-item-title {
	-webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}
.jv-lisboa .tg-item-excerpt,
.jv-lisboa .tg-cats-holder {
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
}
.jv-lisboa:hover .tg-item-title,
.jv-lisboa:hover .tg-item-excerpt,
.jv-lisboa:hover .tg-cats-holder {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.jv-lisboa .tg-media-button i {
	display: none !important;
}
.jv-lisboa .tg-media-button,
.jv-lisboa .tg-item-media-holder,
.jv-lisboa .tg-item-overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.jv-lisboa:hover .tg-item-overlay {
	opacity: 1;
}
.jv-lisboa.tg-force-play .tg-media-button,
.jv-lisboa.tg-is-playing .tg-media-button {
	opacity: 0;
	visibility: hidden;
}
.jv-lisboa .tg-item-title,
.jv-lisboa .tg-item-title a,
.jv-lisboa .tg-item-excerpt {
	position: relative;
	display: block;
    font-size: 15px;
	line-height: 18px;
	font-weight: 600;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
}
.jv-lisboa .tg-item-excerpt {
	font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    padding: 8px 4px 0 4px !important;
}
.jv-lisboa .tg-cats-holder {
	position: relative;
    display: block;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 0 0 0;
    font-weight: 600;
}
.jv-lisboa .tg-cats-holder * {
	font-size: 12px;
    line-height: 16px;
	font-weight: 600;
}
.jv-lisboa .tg-cats-holder a:hover {
	opacity: 0.7;
}
.jv-lisboa .mejs-overlay-play {
	display: none !important;
}

/** Javo Taxonomy **/
.jv-lisboa .tg-jv-category,
.jv-lisboa .tg-jv-location{
    position: relative;
	top:10px;
}

/** Javo Rating average **/
.jv-lisboa .tg-jv-meta-rating-wrap {
    position: relative;
    top: 0;
    left: 0;
    margin: 23px auto 0;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-lisboa .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-lisboa .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-directory/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-lisboa .tg-jv-tax-wrap {padding:15px 0 0 0;}
.jv-lisboa .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-lisboa .tg-jv-category {margin-right:15px;}