.jv-victoria a,
.jv-victoria a:active,
.jv-victoria a:focus,
.jv-victoria .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease;
	-moz-transition: opacity 0.25s ease, color 0.25s ease;
	-ms-transition: opacity 0.25s ease, color 0.25s ease;
	-o-transition: opacity 0.25s ease, color 0.25s ease;
	transition: opacity 0.25s ease, color 0.25s ease;
}
.jv-victoria .tg-media-button:hover,
.jv-victoria a:not(.mejs-volume-slider):hover {
	opacity: 0.85;
}
.jv-victoria .tg-item-content-holder {
	position: relative;
	display: block;
	padding: 18px;
	text-align: left;
}
.jv-victoria .tg-item-content-holder.link-format,
.jv-victoria .tg-item-content-holder.quote-format {
	padding: 18px 18px 32px 18px;
}
.jv-victoria .tg-item-title,
.jv-victoria .tg-item-title a {
	position: relative;
    overflow: hidden;
    display: block;
    font-size: 18px;
    line-height: 24px;
	height: 24px;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
    white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url('ellipsis.xml#ellipsis');
}
.jv-victoria .tg-item-title a {
	padding: 0 !important;
}
.jv-victoria .quote-format .tg-item-title,
.jv-victoria .quote-format .tg-item-title a,
.jv-victoria .link-format .tg-item-title,
.jv-victoria .link-format .tg-item-title a {
    -webkit-line-clamp: initial;
}
.jv-victoria h2.tg-quote-content,
.jv-victoria h2.tg-quote-content a,
.jv-victoria h2.tg-link-content,
.jv-victoria h2.tg-link-content a {
	line-height: 26px;
}
.jv-victoria .tg-item-overlay {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
    margin: 0 auto;
	border-radius: 50%;
	-webkit-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
}
.jv-victoria .tg-media-button,
.jv-victoria .tg-link-button {
	position: relative;
    display: block;
    vertical-align: middle;
    height: 75px;
    width: 75px;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}
.jv-victoria .tg-item-overlay,
.jv-victoria .tg-media-button,
.jv-victoria .tg-link-button {
	opacity: 0;
	-webkit-transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-moz-transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-ms-transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-o-transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
	transition: all 0.5s cubic-bezier(.39,1.89,.55,1.45);
}
.jv-victoria .tg-media-button i,
.jv-victoria .tg-link-button i {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 75px;
	font-size: 24px;
	text-align: center;
}
.jv-victoria .tg-media-button,
.jv-victoria .tg-link-button {
	-webkit-transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1.35,0,0,0,0,1.35,0,0,0,0,1,0,0,0,0,1);
}
.jv-victoria .tg-item-media-holder:hover .tg-item-overlay,
.jv-victoria .tg-item-media-holder:hover .tg-media-button,
.jv-victoria .tg-item-media-holder:hover .tg-link-button {
	opacity: 1;
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}
.jv-victoria .tg-item-excerpt {
	position: relative;
	display: block;
    margin: 18px 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
}
.jv-victoria .tg-quote-icon,
.jv-victoria .tg-link-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    font-size: 28px;
    opacity: 0.3;
    text-align: center;
}
.jv-victoria h2.tg-quote-content,
.jv-victoria h2.tg-link-content {
	margin: 18px 0 0 0 !important;
	padding: 0 !important;
	line-height: 26px;
}
.jv-victoria h2.tg-quote-content a,
.jv-victoria h2.tg-link-content a {
	font-weight: normal;
}
.jv-victoria .tg-quote-author,
.jv-victoria .tg-link-url {
	position: relative;
    display: block;
	margin: 8px 0 0 0;
    font-size: 13px;
	font-style: italic;
}
.jv-victoria .tg-quote-author:before {
	content: '\2012';
	position: relative;
    display: inline-block;
    margin: 0;
	padding: 0 5px 0 0;
}
.jv-victoria .tg-item-author {
	font-size: 13px;
}
.jv-victoria .tg-item-author .tg-item-author-name {
	text-decoration: underline;
}
.jv-victoria .tg-item-duration {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    padding: 8px 18px;
    background: rgba(87,93,104,0.85);
    font-size: 11px;
    line-height: 11px;
	color: #ffffff;
	pointer-events: none;
}
.jv-victoria .tg-item-views,
.jv-victoria .tg-item-date {
    position: relative;
	display: inline-block;
	font-size: 13px;
}
.jv-victoria .tg-item-views:before,
.jv-victoria .tg-item-date:before {
	content: "/";
    position: relative;
	display: inline-block;
	font-size: 13px;
	margin: 0 6px;
}


/** Javo Rating average **/
.jv-victoria .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 8px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-victoria .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-victoria .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-victoria .tg-jv-tax-wrap {padding:10px 0 0 0;}
.jv-victoria .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999 !important; letter-spacing:0.5em;}
.jv-victoria .tg-jv-category {margin-right:15px;}

.jv-victoria .tg-item-title{margin-bottom:10px !important;}