@font-face {
  font-family: 'viewer-icon';
  src:  url('../fonts/viewer-icon/viewer-icon.eot?gb61l1');
  src:  url('../fonts/viewer-icon/viewer-icon.eot?gb61l1#iefix') format('embedded-opentype'),
    url('../fonts/viewer-icon/viewer-icon.ttf?gb61l1') format('truetype'),
    url('../fonts/viewer-icon/viewer-icon.woff?gb61l1') format('woff'),
    url('../fonts/viewer-icon/viewer-icon.svg?gb61l1#viewer-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-viewer-"], [class*=" icon-viewer-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'viewer-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-viewer-icon-g:before {
  content: "\e900";
}

