.jv-maputo a,
.jv-maputo .tg-item-image,
.jv-maputo.tg-item .tg-item-audio-poster,
.jv-maputo a:active,
.jv-maputo a:focus,
.jv-maputo .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.jv-maputo .tg-center-holder {
	text-align: center;
}
.jv-maputo .tg-media-button:hover,
.jv-maputo a:not(.mejs-volume-slider):hover {
	opacity: 0.85;
}
.jv-maputo .tg-item-content-holder {
	position: relative;
	display: block;
	padding: 16px 15px 20px;
	text-align: center;
}
.jv-maputo .tg-item-media-holder {
	overflow: hidden;
}
.jv-maputo .tg-item-title,
.jv-maputo .tg-item-title a {
	position: relative;
    display: block;
    font-size: 19px;
	font-style: italic;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: normal;
	margin: 0 !important;
	padding: 0 20px !important;
	text-align: center;
}
.jv-maputo .tg-item-title a {
	padding: 0 !important;
}
.jv-maputo .tg-item-overlay {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(8,8,8,0.8);
}
.jv-maputo .tg-item-comment,
.jv-maputo .tg-media-button,
.jv-maputo .tg-link-button {
	position: relative;
    display: inline-block;
	vertical-align: top;
    width: 67px;
    height: 67px;
	margin: 0;
	cursor: pointer;
	opacity: 0;
	text-align: center;
}
.jv-maputo .tg-link-button  {
	margin: 0 1px;
}
.jv-maputo .tg-item-comment i,
.jv-maputo .tg-media-button i,
.jv-maputo .tg-link-button i {
    position: relative;
    display: block;
    width: 67px;
    height: 67px;
	margin: 0 auto;
	font-weight: 500;
}
.jv-maputo .tg-item-media-holder.light .tg-item-comment i,
.jv-maputo .tg-item-media-holder.light .tg-media-button i,
.jv-maputo .tg-item-media-holder.light .tg-link-button i {
	font-weight: 400;
}
.jv-maputo .tg-media-button i {
	font-size: 28px;
    line-height: 67px;
}
.jv-maputo .tg-item-comment i {
	font-size: 25px;
    line-height: 67px;
	color: inherit !important;
}
.jv-maputo .to-post-like {
    position: relative;
    display: inline-block;
	vertical-align: top;
	width: 67px;
    height: 67px;
    margin: 0;
	font-size: 13px;
    line-height: 14px;
}
.jv-maputo .tg-media-button,
.jv-maputo .tg-item-comment,
.jv-maputo .to-post-like,
.jv-maputo.tg-is-playing .tg-item-media-holder:hover .tg-media-button,
.jv-maputo.tg-force-play .tg-item-media-holder:hover .tg-media-button,
.jv-maputo.tg-is-playing .tg-item-media-holder:hover .tg-item-comment,
.jv-maputo.tg-force-play .tg-item-media-holder:hover .tg-item-comment {
	opacity: 0;
	-webkit-transform: translate3d(0,44px,0);
	-moz-transform: translate3d(0,44px,0);
	-ms-transform: translate3d(0,44px,0);
	-o-transform: translate3d(0,44px,0);
	transform: translate3d(0,44px,0);
}
.jv-maputo .to-post-like,
.jv-maputo div.tg-item-overlay,
.jv-maputo div.tg-media-button,
.jv-maputo .tg-item-comment {
	opacity: 0;
}
.jv-maputo .tg-item-comment {
	margin: 0 1px;
}
.jv-maputo div.tg-item-overlay,
.jv-maputo div.tg-media-button {
	-webkit-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-moz-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
	-ms-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -ms-transform 0.3s ease-in-out;
	-o-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
	transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.jv-maputo .tg-item-media-holder .tg-item-comment {
	-webkit-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, -webkit-transform 0.3s ease-in-out .1s;
	-moz-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, -moz-transform 0.3s ease-in-out .1s;
	-ms-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, -ms-transform 0.3s ease-in-out .1s;
	-o-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, -o-transform 0.3s ease-in-out .1s;
	transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, transform 0.3s ease-in-out .1s;
}
.jv-maputo .to-post-like {
	-webkit-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, -webkit-transform 0.3s ease-in-out .2s;
	-moz-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, -moz-transform 0.3s ease-in-out .2s;
	-ms-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, -ms-transform 0.3s ease-in-out .2s;
	-o-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, -o-transform 0.3s ease-in-out .2s;
	transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out 0.1s, transform 0.3s ease-in-out .2s;
}
.jv-maputo .tg-item-media-holder .to-post-like:hover,
.jv-maputo .tg-item-media-holder .tg-media-button:hover,
.jv-maputo .tg-item-media-holder .tg-item-comment:hover {
	opacity: 0.7 !important;
}
.jv-maputo .tg-item-media-holder:hover .to-post-like,
.jv-maputo .tg-item-media-holder:hover .tg-item-overlay,
.jv-maputo .tg-item-media-holder:hover .tg-media-button,
.jv-maputo .tg-item-media-holder:hover .tg-item-comment {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.jv-maputo .tg-item-image,
.jv-maputo .tg-item-audio-poster,
.jv-maputo .tg-item-media-poster {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.jv-maputo:not(.tg-is-playing):not(.tg-force-play):hover .tg-item-image,
.jv-maputo:not(.tg-is-playing):not(.tg-force-play):hover .tg-item-audio-poster,
.jv-maputo:not(.tg-is-playing):not(.tg-force-play):hover .tg-item-media-poster {
    -webkit-transform: perspective(500px) scale3d(1.1,1.1,1.1);
    -moz-transform: perspective(500px) scale3d(1.1,1.1,1.1);
    -ms-transform: perspective(500px) scale3d(1.1,1.1,1.1);
    -o-transform: perspective(500px) scale3d(1.1,1.1,1.1);
    transform: perspective(500px) scale3d(1.1,1.1,1.1);
}
.jv-maputo.tg-is-playing .tg-item-overlay,
.jv-maputo.tg-force-play .tg-item-overlay {
	pointer-events: none;
	opacity: 0 !important;
}
.jv-maputo .to-post-like .to-heart-icon {
    position: relative;
    display: inline;
    float: none;
    margin: 0;
	background: transparent !important;
}
.jv-maputo .to-post-like .to-heart-icon svg {
    position: relative;
    top: 50%;
    width: 40px;
    height: 24px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.jv-maputo .to-post-like .to-heart-icon * {
    stroke-width: 4;
	fill: transparent !important;
}
.jv-maputo .to-post-like .to-heart-icon svg:hover path {
    stroke: inherit !important;
}
.jv-maputo .tg-item-comment span,
.jv-maputo .to-post-like .to-like-count {
    position: absolute;
    display: inline-block;
    margin: 0;
    bottom: 8px;
    left: 0;
    right: 0;
	font-size: 10px;
	line-height: 10px;
	background: none !important;
}

/** Javo Rating average **/
.jv-maputo .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    left: 0;
    margin: 14px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-maputo .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-maputo .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-directory/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-maputo .tg-jv-tax-wrap {padding:15px 0 0 0;}
.jv-maputo .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-maputo .tg-jv-category {margin-right:15px;}

/**  Javo Taxonomy **/
.jv-maputo .tg-jv-tax-wrap{
	position: relative;
    text-align: center;
    padding-top: 14%;
}
.jv-maputo .tg-jv-tax-wrap,
.jv-maputo .tg-jv-meta-rating-wrap{opacity:0;}
.jv-maputo:hover .tg-jv-tax-wrap,
.jv-maputo:hover .tg-jv-meta-rating-wrap{opacity:1;}