.jv-pracia a,
.jv-pracia a:active,
.jv-pracia a:focus,
.jv-pracia .tg-item-title,
.jv-pracia .tg-item-media-holder,
.jv-pracia .tg-item-content-holder {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.jv-pracia.tg-item,
.jv-pracia .tg-center-holder {
	overflow: hidden;
}
.jv-pracia .tg-center-holder {
	text-align: center;
}
.jv-pracia .tg-item-media-holder {
	bottom: 60px;
	height: auto;
}
.tg-layout-justified .jv-pracia .tg-item-media-holder {
	bottom: 0;
}
.jv-pracia .tg-item-link {
	position: absolute;
    display: block;
    top: -1000%;
    left: 0;
    width: 100%;
    height: 2000%;
}
.jv-pracia .tg-item-content-holder,
.jv-pracia .tg-item-overlay {
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.tg-layout-justified .jv-pracia .tg-center-holder {
	padding-bottom: 60px;
}
.tg-layout-justified .jv-pracia .tg-item-content-holder,
.jv-pracia .tg-item-overlay {
	opacity: 0;
	visibility: hidden;
}
.tg-layout-justified .jv-pracia:not(.tg-is-playing):not(.tg-force-play):hover .tg-item-content-holder,
.jv-pracia:not(.tg-is-playing):not(.tg-force-play):hover .tg-item-overlay {
	opacity: 1;
	visibility: visible;
}
.jv-pracia .tg-item-content-holder {
	height: 60px;
	padding: 10px 14px;
	background: #ffffff;
}
.jv-pracia .tg-item-title,
.jv-pracia .tg-item-title a {
	position: relative;
    font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 600;
	margin: 0 !important;
	padding: 0 !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.jv-pracia .tg-item-title {
	padding: 0 2px !important;
	margin: 0 40px 2px 0 !important;
}
.jv-pracia .tg-cats-holder {
	position: relative;
	display: block;
	margin: 0 40px 0 0;
	padding: 0 2px;
	font-size: 13px;
	line-height: 18px;
	font-style: italic;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.jv-pracia .tg-cats-holder * {
	position: relative;
}
.jv-pracia .tg-link-button,
.jv-pracia .tg-media-button {
    position: relative;
    display: inline-block;
	vertical-align: top;
    margin: 10px !important;
	padding: 0 !important;
    top: 0;
    right: 0;
    width: 35px;
    height:35px;
    cursor: pointer;
    text-align: center;
	opacity: 0;
}
.jv-pracia .tg-link-button i,
.jv-pracia .tg-media-button i {
	position: relative;
	display: block;
	width: 35px;
	height: 35px;
    font-size: 22px;
	line-height: 35px;
	cursor: pointer;
}
.jv-pracia .tg-media-button .tg-icon-add {
    font-size: 28px;
}
.jv-pracia .tg-media-button {
	-webkit-transform: translate3d(-40px,0,0);
	-moz-transform: translate3d(-40px,0,0);
	-ms-transform: translate3d(-40px,0,0);
	-o-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}
.jv-pracia .tg-link-button {
	-webkit-transform: translate3d(40px,0,0);
	-moz-transform: translate3d(40px,0,0);
	-ms-transform: translate3d(40px,0,0);
	-o-transform: translate3d(40px,0,0);
	transform: translate3d(40px,0,0);
}
.jv-pracia:hover .tg-link-button,
.jv-pracia:hover .tg-media-button {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.jv-pracia .tg-item-title:hover,
.jv-pracia .tg-link-button:hover,
.jv-pracia .tg-cats-holder a:hover,
.jv-pracia .tg-media-button:hover {
	opacity: 0.75;
}
.jv-pracia .to-post-like {
	position: absolute;
    display: block;
    right: 14px;
    top: 12px;
	margin: 0;
    font-size: 14px;
    line-height: 14px;
}

/** Javo Rating average **/
.jv-pracia .tg-jv-meta-rating-wrap {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
	z-index: 1;
	width: 75px;
	height: 15px;
	opacity:0;
	-webkit-transition: opacity 0.25s ease,color 0.25s ease,-webkit-transform 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease,color 0.25s ease,-moz-transform 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease,color 0.25s ease,-ms-transform 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease,color 0.25s ease,-o-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease,color 0.25s ease,transform 0.25s ease-in-out;
	-webkit-transform: translate3d(0,30px,0);
    -moz-transform: translate3d(0,30px,0);
    -ms-transform: translate3d(0,30px,0);
    -o-transform: translate3d(0,30px,0);
    transform: translate3d(0,30px,0);
}
.jv-pracia:hover .tg-jv-meta-rating-wrap{
	opacity:1;
	-webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.jv-pracia .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-pracia .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-directory/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-pracia .tg-jv-tax-wrap {padding:15px 0 0 0;}
.jv-pracia .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999999 !important; letter-spacing:0.5em;}
.jv-pracia .tg-jv-category {margin-right:15px;}