.j.jv-malabo a,
.jv-malabo a:active,
.jv-malabo a:focus,
.jv-malabo .tg-cats-holder,
.jv-malabo .tg-item-title {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.25s ease, color 0.25s ease, -moz-transform 0.3s ease-in-out;
	-ms-transition: opacity 0.25s ease, color 0.25s ease, -ms-transform 0.3s ease-in-out;
	-o-transition: opacity 0.25s ease, color 0.25s ease, -o-transform 0.3s ease-in-out;
	transition: opacity 0.25s ease, color 0.25s ease, transform 0.3s ease-in-out;
}
.jv-malabo.tg-item {
	overflow: hidden;
}
.jv-malabo .tg-center-holder {
	text-align: center;
}
.jv-malabo .tg-item-content,
.jv-malabo .tg-item-media-holder,
.jv-malabo .tg-item-overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.jv-malabo .tg-item-link {
    position: absolute;
    display: block;
    top: -500px;
    left: 0;
    width: 100%;
    height: 1000%;
}
.jv-malabo .tg-item-overlay {
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	-webkit-transform: matrix3d(0.75,0,0,0,0,0.75,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(0.75,0,0,0,0,0.75,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(0.75,0,0,0,0,0.75,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(0.75,0,0,0,0,0.75,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(0.75,0,0,0,0,0.75,0,0,0,0,1,0,0,0,0,1);
}
.jv-malabo:hover .tg-item-overlay {
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}
.jv-malabo .tg-item-content {
	margin: 22px 28px;
}
.jv-malabo .tg-item-content,
.jv-malabo .tg-item-overlay {
	opacity: 0;
}
.jv-malabo:hover .tg-item-content,
.jv-malabo:hover .tg-item-overlay {
	opacity: 1;
}
.jv-malabo .tg-item-title,
.jv-malabo .tg-item-title a {
	position: relative;
	display: block;
    font-size: 20px;
	line-height: 26px;
	font-weight: 600;
	margin: 0 !important;
	padding: 0 !important;
}
.tg-layout-justified .jv-malabo .tg-item-title,
.tg-layout-justified .jv-malabo .tg-item-title a {
    font-size: 16px;
	line-height: 20px;
}
.jv-malabo .tg-item-title  {
	margin: 10px 0 !important;
	-webkit-transform: translate3d(0,-34px,0);
	-moz-transform: translate3d(0,-34px,0);
	-ms-transform: translate3d(0,-34px,0);
	-o-transform: translate3d(0,-34px,0);
	transform: translate3d(0,-34px,0);
}
.jv-malabo .tg-cats-holder {
	position: relative;
	display: block;
	margin: 10px 0 0 0;
	font-size: 13px;
	line-height: 18px;
	-webkit-transform: translate3d(0,34px,0);
	-moz-transform: translate3d(0,34px,0);
	-ms-transform: translate3d(0,34px,0);
	-o-transform: translate3d(0,34px,0);
	transform: translate3d(0,34px,0);
}
.jv-malabo:hover .tg-link-button,
.jv-malabo:hover .tg-media-button,
.jv-malabo:hover .tg-cats-holder,
.jv-malabo:hover .tg-item-title {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.jv-malabo .tg-link-button,
.jv-malabo .tg-media-button {
    position: relative;
    display: inline-block;
	vertical-align: top;
    margin: 10px !important;
	padding: 0 !important;
    top: 0;
    right: 0;
    width: 35px;
    height:35px;
    cursor: pointer;
    text-align: center;
}
.jv-malabo .tg-media-button {
	-webkit-transform: translate3d(-40px,0,0);
	-moz-transform: translate3d(-40px,0,0);
	-ms-transform: translate3d(-40px,0,0);
	-o-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}
.jv-malabo .tg-link-button {
	-webkit-transform: translate3d(40px,0,0);
	-moz-transform: translate3d(40px,0,0);
	-ms-transform: translate3d(40px,0,0);
	-o-transform: translate3d(40px,0,0);
	transform: translate3d(40px,0,0);
}
.jv-malabo .tg-link-button:hover,
.jv-malabo .tg-media-button:hover {
	opacity: 0.75;
}
.jv-malabo .tg-link-button i,
.jv-malabo .tg-media-button i {
	position: relative;
	display: block;
	width: 35px;
	height: 35px;
    font-size: 22px;
	line-height: 35px;
	cursor: pointer;
}
.jv-malabo .tg-media-button .tg-icon-add {
	font-size: 28px;
}

.jv-malabo .mejs-overlay-play {
	display: none !important;
}

/** Javo Rating average **/
.jv-malabo .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    left: 0;
    margin: 8px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-malabo .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-malabo .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-directory/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-malabo .tg-jv-tax-wrap {padding:0;}
.jv-malabo .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-malabo .tg-jv-category {margin-right:15px;}