.jv-doha a,
.jv-doha a:active,
.jv-doha a:focus,
.jv-doha .tg-item-overlay {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease, -webkit-transform 0.3s ease-in-out;
	-moz-transition: opacity 0.25s ease, color 0.25s ease, -moz-transform 0.3s ease-in-out;
	-ms-transition: opacity 0.25s ease, color 0.25s ease, -ms-transform 0.3s ease-in-out;
	-o-transition: opacity 0.25s ease, color 0.25s ease, -o-transform 0.3s ease-in-out;
	transition: opacity 0.25s ease, color 0.25s ease, transform 0.3s ease-in-out;
}
.jv-doha .tg-item-overlay {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	text-align: center;
}
.jv-doha .tg-media-button {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}
.jv-doha .tg-media-button i {
    position: absolute;
    display: inline-block;
    top: 50%;
    margin: -20px 0 0 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    text-align: center;
}
.jv-doha:not(.tg-force-play):not(.tg-is-playing):hover .tg-item-overlay,
.jv-doha:not(.tg-force-play):not(.tg-is-playing):hover .tg-item-media-button {
	opacity: 1;
}
.jv-doha:not(.tg-force-play):not(.tg-is-playing):hover .tg-media-button:hover {
	opacity: 0.75;
}
.jv-doha.tg-force-play .tg-media-button,
.jv-doha.tg-is-playing .tg-media-button {
	opacity: 0;
	visibility: hidden;
}

/** Javo Rating average **/
.jv-doha .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 15px 10px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-doha .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-doha .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-doha .tg-jv-tax-wrap {position:absolute; top:48%; width:100%; font-size:20px;}
.jv-doha .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999 !important; letter-spacing:0.5em;}
.jv-doha .tg-jv-category {margin-right:15px;}