.jv-lima a,
.jv-lima a:active,
.jv-lima a:focus,
.jv-lima .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease;
	-moz-transition: opacity 0.25s ease, color 0.25s ease;
	-ms-transition: opacity 0.25s ease, color 0.25s ease;
	-o-transition: opacity 0.25s ease, color 0.25s ease;
	transition: opacity 0.25s ease, color 0.25s ease;
}
.jv-lima .tg-media-button:hover,
.jv-lima a:not(.mejs-volume-slider):hover {
	opacity: 0.85;
}
.jv-lima .tg-item-content-holder {
	position: relative;
	display: block;
	min-height: 54px;
	padding: 18px;
	text-align: left;
}
.jv-lima .tg-cats-holder {
    position: relative;
    display: inline-block;
    padding: 4px 40px 0 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 16px;
}
.jv-lima .tg-cats-holder * {
	position: relative;
}
.jv-lima .tg-item-title,
.jv-lima .tg-item-title a {
	position: relative;
    display: block;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: 600;
	margin: 0 !important;
	padding: 0 40px 0 0 !important;
}
.jv-lima .tg-item-title a {
	padding: 0 !important;
}
.jv-lima .tg-item-overlay {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jv-lima .tg-buttons-holder {
	position: absolute;
	display: block;
    height: 44px;
	right: 0;
	bottom: 0;
}
.jv-lima .tg-media-button,
.jv-lima .tg-link-button {
	position: relative;
    display: inline-block;
    height: 44px;
    width: 44px;
	margin: 0;
	cursor: pointer;
	opacity: 0;
	text-align: center;
}
.jv-lima .tg-media-button i,
.jv-lima .tg-link-button i {
	position: absolute;
    display: block;
    height: 100%;
    width: 100%;
	top: 0;
	left: 0;
	font-size: 18px;
	line-height: 44px;
}
.jv-lima .tg-dark .tg-media-button,
.jv-lima .tg-dark .tg-link-button {
	background: rgba(255,255,255,0.5);
}
.jv-lima .tg-dark .tg-media-button:hover,
.jv-lima .tg-dark .tg-link-button:hover {
	background: rgba(255,255,255,0.85);
}
.jv-lima .tg-light .tg-media-button,
.jv-lima .tg-light .tg-link-button {
	background: rgba(0,0,0,0.15);
}
.jv-lima .tg-light .tg-media-button:hover,
.jv-lima .tg-light .tg-link-button:hover {
	background: rgba(0,0,0,0.35);
}
.jv-lima .tg-icon-arrows-out-2 {
	font-weight: 600;
}
.jv-lima .to-post-like {
    position: absolute;
    display: inline-block;
    right: 18px;
    top: 20px;
    margin: 0;
	font-size: 13px;
    line-height: 14px;
}
.jv-lima .link-format .to-post-like,
.jv-lima .quote-format .to-post-like {
    top: auto;
	bottom: 20px;
}
.jv-lima .tg-media-button,
.jv-lima .tg-link-button,
.jv-lima.tg-is-playing .tg-item-media-holder:hover .tg-media-button,
.jv-lima.tg-force-play .tg-item-media-holder:hover .tg-media-button,
.jv-lima.tg-is-playing .tg-item-media-holder:hover .tg-link-button,
.jv-lima.tg-force-play .tg-item-media-holder:hover .tg-link-button {
	opacity: 0;
	-webkit-transform: translate3d(0,44px,0);
	-moz-transform: translate3d(0,44px,0);
	-ms-transform: translate3d(0,44px,0);
	-o-transform: translate3d(0,44px,0);
	transform: translate3d(0,44px,0);
}
.jv-lima div.tg-item-overlay,
.jv-lima a.tg-media-button,
.jv-lima .tg-link-button {
	opacity: 0;
	-webkit-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	-moz-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
	-ms-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -ms-transform 0.3s ease-in-out;
	-o-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
	transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.jv-lima .tg-item-media-holder .tg-link-button {
	-webkit-transition-delay: .1s;
	transition-delay: .1s;
}
.jv-lima .tg-item-media-holder:hover .tg-item-overlay,
.jv-lima .tg-item-media-holder:hover .tg-media-button,
.jv-lima .tg-item-media-holder:hover .tg-link-button {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.jv-lima.tg-is-playing .tg-item-overlay,
.jv-lima.tg-force-play .tg-item-overlay {
	pointer-events: none;
	opacity: 0 !important;
}
.jv-lima .tg-item-excerpt {
	position: relative;
	display: block;
    margin: 18px 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
}
.jv-lima .link-format,
.jv-lima .quote-format {
	padding: 18px 18px 56px 18px;
}
.jv-lima .tg-quote-icon,
.jv-lima .tg-link-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    font-size: 28px;
    opacity: 0.3;
    text-align: center;
}
.jv-lima h2.tg-quote-content,
.jv-lima h2.tg-link-content {
	margin: 18px 0 0 0 !important;
	padding: 0 !important;
	line-height: 26px;
}
.jv-lima h2.tg-quote-content a,
.jv-lima h2.tg-link-content a {
	font-weight: normal;
}
.jv-lima .tg-quote-author,
.jv-lima .tg-link-url {
	position: relative;
    display: block;
	margin: 8px 0 0 0;
    font-size: 13px;
	font-style: italic;
}
.jv-lima .tg-quote-author:before {
	content: '\2012';
	position: relative;
    display: inline-block;
    margin: 0;
	padding: 0 5px 0 0;
}


/** Javo Rating average **/
.jv-lima .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 8px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-lima .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-lima .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-lima .tg-jv-tax-wrap {padding:10px 0 0 0;}
.jv-lima .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999 !important; letter-spacing:0.5em;}
.jv-lima .tg-jv-category {margin-right:15px;}

.jv-lima .tg-jv-category, .jv-lima .tg-jv-location{
    float: left;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}