.jv-praia a,
.jv-praia a:active,
.jv-praia a:focus,
.jv-praia .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease;
	-moz-transition: opacity 0.25s ease, color 0.25s ease;
	-ms-transition: opacity 0.25s ease, color 0.25s ease;
	-o-transition: opacity 0.25s ease, color 0.25s ease;
	transition: opacity 0.25s ease, color 0.25s ease;
}
.jv-praia .tg-media-button:hover,
.jv-praia a:not(.mejs-volume-slider):hover {
	opacity: 0.85 !important;
}
.jv-praia *:not(.mejs-controls) {
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0s step-end, opacity 0.4s ease !important;
    -moz-transition: -moz-transforms 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0s step-end, opacity 0.4s ease !important;
    -ms-transition: -ms-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0s step-end, opacity 0.4s ease !important;
    -o-transition: -o-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0s step-end, opacity 0.4s ease !important;
    transition: transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0s step-end, opacity 0.4s ease !important;
}
.jv-praia.tg-force-play *:not(.mejs-controls),
.jv-praia.tg-is-playing *:not(.mejs-controls) {
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
    -moz-transition: -moz-transforms 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
    -ms-transition: -ms-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
    -o-transition: -o-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
    transition: transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
}
.jv-praia .tg-item-content-inner div,
.jv-praia .tg-item-content-inner .tg-link-button {
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
    -moz-transition: -moz-transforms 0.4s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
    -ms-transition: -ms-transform 0.4s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
    -o-transition: -o-transform 0.4s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
    transition: transform 0.4s cubic-bezier(.17,.73,.66,.99) 0s, z-index 0.4s step-end, opacity 0.4s ease !important;
}
.tg-force-play .tg-item-audio-poster,
.tg-is-playing .tg-item-audio-poster {
	-webkit-transform: matrix(1,0,0,1,0,0) !important;
	-moz-transform: matrix(1,0,0,1,0,0) !important;
}
.jv-praia .tg-item-image {
	outline: 1px solid transparent !important;
}
.jv-praia .tg-panZ {
	position: relative;
	display: block;
	overflow: hidden !important;
}
.jv-praia .tg-item-content-holder.no-image,
.jv-praia .tg-item-content-holder.link-format,
.jv-praia .tg-item-content-holder.quote-format {
	position: relative;
    display: block;
	padding: 20px;
	text-align: center;
}
.jv-praia .tg-item-image-holder,
.jv-praia .tg-item-content-holder:not(.no-image):not(.link-format):not(.quote-format) {
	position: absolute;
    display: block;
	overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
	text-align: center;
	background: none !important;
}
.jv-praia .tg-item-content-holder.no-image .tg-item-content-inner {
	position: relative;
    display: block;
	text-align: center;
	background: none;
}
.jv-praia .tg-item-content-holder:not(.no-image) .tg-item-content-inner {
	position: absolute;
    display: block;
    bottom: 0;
    left: 0;
	padding: 20px 0 32px 0;
    width: 100%;
}
.jv-praia .tg-item-title,
.jv-praia .tg-item-title a {
	position: relative;
    display: block;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 600;
	margin: 0 !important;
	padding: 12px 40px !important;
	text-transform: uppercase;
}
.jv-praia .tg-item-title a {
	padding: 0 !important;
}
.jv-praia .quote-format,
.jv-praia .link-format {
	overflow: hidden;
}
.jv-praia .link-format .tg-item-title,
.jv-praia .quote-format .tg-item-title {
	padding: 12px 40px 0 40px!important;
}
.jv-praia .tg-item-date {
	position: relative;
    display: block;
	font-size: 14px;
	font-style: italic;
    line-height: 14px;
}
.jv-praia .link-format .tg-item-date,
.jv-praia .quote-format .tg-item-date {
	margin: 30px 0;
}
.jv-praia .tg-item-author {
	position: relative;
    display: block;
	line-height: 18px;
    padding: 8px 0;
}
.jv-praia .tg-item-author span {
	font-style: italic;
}
.jv-praia .tg-item-author a {
	margin: 0 0 0 4px;
	text-transform: uppercase;
	font-weight: 600;
}
.jv-praia .tg-item-excerpt {
    margin: 10px 40px 30px 40px;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
.jv-praia .tg-item-overlay {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jv-praia:hover .tg-item-overlay {
	opacity: 0.5;
}
.jv-praia .tg-quote-icon,
.jv-praia .tg-link-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin: -45px 0 0 0;
    font-size: 80px;
    opacity: 0.14;
    text-align: center;
}
.jv-praia .tg-quote-author,
.jv-praia .tg-link-url {
	position: relative;
    display: block;
	margin: 8px 0 0 0;
    font-size: 13px;
	font-style: italic;
	text-align: center;
}
.jv-praia .tg-media-button,
.jv-praia .tg-link-button {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 0 30px 0;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    bottom: 0;
    padding: 6px 14px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}
.jv-praia .tg-media-button,
.jv-praia .tg-link-button {
    opacity: 0;
	line-height: 24px;
	-webkit-transform: translate3d(0,30px,0);
	-moz-transform: translate3d(0,30px,0);
	-ms-transform: translate3d(0,30px,0);
	-o-transform: translate3d(0,30px,0);
	transform: translate3d(0,30px,0);
}
.jv-praia .tg-media-button i,
.jv-praia .tg-link-button i {
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
 	font-size: 14px;
	padding: 0 5px 0 0;
}
.jv-praia .tg-media-button a,
.jv-praia .tg-link-button a {
	vertical-align: top;
	line-height: 24px;
}
.jv-praia .tg-link-button i {
 	font-size: 22px;
}
.jv-praia .tg-item-content-holder:not(.no-image):not(.quote-format):not(.link-format):hover .tg-item-title,
.jv-praia .tg-item-content-holder:not(.no-image):not(.quote-format):not(.link-format):hover .tg-item-date,
.jv-praia .tg-item-content-holder:not(.no-image):not(.quote-format):not(.link-format):hover .tg-item-author {
    opacity: 0;
	-webkit-transform: translate3d(0,-30px,0);
	-moz-transform: translate3d(0,-30px,0);
	-ms-transform: translate3d(0,-30px,0);
	-o-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}
.jv-praia.tg-is-playing .tg-item-content-holder:not(.no-image),
.jv-praia.tg-force-play .tg-item-content-holder:not(.no-image),
.jv-praia.tg-is-playing .tg-item-overlay,
.jv-praia.tg-force-play .tg-item-overlay {
	opacity: 0;
	z-index: -1;
}
.jv-praia .tg-item-content-holder:hover .tg-media-button,
.jv-praia .tg-item-content-holder:hover .tg-link-button {
    opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/** Javo Rating average **/
.jv-praia .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 8px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-praia .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-praia .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-praia .tg-item-content-inner .tg-jv-tax-wrap {
	padding: 0 0 10px 0;
	-webkit-transition: -webkit-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s,z-index 0s step-end,opacity 0.4s ease !important;
    -moz-transition: -moz-transforms 0.8s cubic-bezier(.17,.73,.66,.99) 0s,z-index 0s step-end,opacity 0.4s ease !important;
    -ms-transition: -ms-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s,z-index 0s step-end,opacity 0.4s ease !important;
    -o-transition: -o-transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s,z-index 0s step-end,opacity 0.4s ease !important;
    transition: transform 0.8s cubic-bezier(.17,.73,.66,.99) 0s,z-index 0s step-end,opacity 0.4s ease !important;
}
.jv-praia .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#ffffff !important; letter-spacing:0.5em;}
.jv-praia .tg-jv-category {margin-right:15px;}

.jv-praia .tg-item-content-holder:not(.no-image):not(.quote-format):not(.link-format):hover .tg-jv-tax-wrap{
	opacity: 0;
    -webkit-transform: translate3d(0,-30px,0);
    -moz-transform: translate3d(0,-30px,0);
    -ms-transform: translate3d(0,-30px,0);
    -o-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0)
}