.jv-vaduz a,
.jv-vaduz a:active,
.jv-vaduz a:focus,
.jv-vaduz .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease;
	-moz-transition: opacity 0.25s ease, color 0.25s ease;
	-ms-transition: opacity 0.25s ease, color 0.25s ease;
	-o-transition: opacity 0.25s ease, color 0.25s ease;
	transition: opacity 0.25s ease, color 0.25s ease;
}
.jv-vaduz:not(.tg-force-play):not(.tg-is-playing) .tg-media-button:hover,
.jv-vaduz a:not(.mejs-volume-slider):not(.tg-media-button):hover {
	opacity: 0.85;
}
.jv-vaduz.tg-force-play .tg-media-button,
.jv-vaduz.tg-is-playing .tg-media-button {
	opacity: 0;
	visibility: hidden;
}
.jv-vaduz .tg-item-content-holder {
	position: relative;
	display: block;
	padding: 18px 18px 4px 18px;
	text-align: left;
}
.jv-vaduz .tg-item-title,
.jv-vaduz .tg-item-title a {
	position: relative;
    overflow: hidden;
    display: block;
    font-size: 18px;
    line-height: 24px;
	height: 24px;
    font-weight: 600;
    margin: 0 !important;
    padding: 0 !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	-moz-binding: url('ellipsis.xml#ellipsis');
}
.jv-vaduz .quote-format .tg-item-title,
.jv-vaduz .quote-format .tg-item-title a,
.jv-vaduz .link-format .tg-item-title,
.jv-vaduz .link-format .tg-item-title a {
    -webkit-line-clamp: initial;
}
.jv-vaduz .tg-item-title a {
	padding: 0 !important;
}
.jv-vaduz .tg-item-overlay {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 75px;
    height: 75px;
    margin: 0 auto;
	border-radius: 50%;
	-webkit-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
}
.jv-vaduz .tg-media-button,
.jv-vaduz .tg-link-button {
    position: absolute;
    display: block;
    top: 0;
    margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.jv-vaduz .tg-media-button i,
.jv-vaduz .tg-link-button i {
    position: absolute;
    display: block;
    top: 50%;
    margin: -38px auto 0 auto;
    height: 76px;
    width: 100%;
    line-height: 75px;
    font-size: 48px;
    text-align: center;
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-webkit-transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
	-moz-transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
	-ms-transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
	-o-transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
	transition: all 0.35s cubic-bezier(.39,1.89,.55,1.45);
}
.jv-vaduz .tg-item-media-holder:hover .tg-media-button i,
.jv-vaduz .tg-item-media-holder:hover .tg-link-button i {
	-webkit-transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1.2,0,0,0,0,1.2,0,0,0,0,1,0,0,0,0,1);
}
.jv-vaduz .tg-item-excerpt {
	position: relative;
	display: block;
    margin: 18px 0 24px 0;
    padding: 0;
    font-size: 13px;
    line-height: 22px;
    text-align: left;
}
.jv-vaduz .tg-quote-icon,
.jv-vaduz .tg-link-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    margin: 0;
    font-size: 28px;
    opacity: 0.3;
    text-align: center;
}
.jv-vaduz h2.tg-quote-content,
.jv-vaduz h2.tg-link-content {
	margin: 18px 0 0 0 !important;
	padding: 0 !important;
	line-height: 26px;
}
.jv-vaduz h2.tg-quote-content a,
.jv-vaduz h2.tg-link-content a {
	font-weight: normal;
	line-height: 26px;
}
.jv-vaduz .tg-quote-author,
.jv-vaduz .tg-link-url {
	position: relative;
    display: block;
	margin: 8px 0 0 0;
    font-size: 13px;
	font-style: italic;
}
.jv-vaduz .tg-quote-author:before {
	content: '\2012';
	position: relative;
    display: inline-block;
    margin: 0;
	padding: 0 5px 0 0;
}
.jv-vaduz .tg-item-duration {
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    padding: 8px 18px;
    background: rgba(87,93,104,0.85);
    font-size: 11px;
    line-height: 11px;
	color: #ffffff;
	pointer-events: none;
}
.jv-vaduz .tg-item-views,
.jv-vaduz .tg-item-date {
    position: relative;
	display: inline-block;
	font-size: 13px;
}
.jv-vaduz .tg-item-footer {
    position: relative;
	display: inline-block;
    width: 100%;
	border-top: 1px solid #dddddd !important;
    padding: 8px 0 0;
	line-height: 25px;
}
.jv-vaduz .link-format .tg-item-footer,
.jv-vaduz .quote-format .tg-item-footer {
	margin: 28px 0 0 0;
}
.jv-vaduz .tg-item-footer .tg-item-comment,
.jv-vaduz .tg-item-footer .to-post-like,
.jv-vaduz .tg-item-footer .tg-item-views {
    position: relative;
	display: inline-block;
	font-size: 13px;
}
.jv-vaduz .tg-item-footer .to-post-like,
.jv-vaduz .tg-item-footer .tg-item-comment {
    float: right;
}
.jv-vaduz .to-post-like .to-heart-icon {
	margin: 2px 4px 0 0;
}
.jv-vaduz .tg-item-footer .tg-item-comment {
    margin: 0 0 0 6px;
}
.jv-vaduz .tg-item-footer .tg-item-views {
    float: left;
	font-weight: 600;
}
.jv-vaduz .tg-item-comment i {
    position: relative;
    padding: 0 4px 0 6px;
    top: 2px;
    font-size: 15px;
}

/** Javo Rating average **/
.jv-vaduz .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 8px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-vaduz .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-vaduz .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-vaduz .tg-jv-tax-wrap {padding:10px 0 0 0;}
.jv-vaduz .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999 !important; letter-spacing:0.5em;}
.jv-vaduz .tg-jv-category {margin-right:15px;}

.jv-vaduz .tg-item-excerpt{margin-top:10px;}