.jv-quito a,
.jv-quito a:active,
.jv-quito a:focus,
.jv-quito .tg-share-icons i {
	text-decoration: none;
    border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	-webkit-transition: opacity 0.25s ease, color 0.25s ease;
	-moz-transition: opacity 0.25s ease, color 0.25s ease;
	-ms-transition: opacity 0.25s ease, color 0.25s ease;
	-o-transition: opacity 0.25s ease, color 0.25s ease;
	transition: opacity 0.25s ease, color 0.25s ease;
}
.jv-quito a:not(.mejs-volume-slider):hover {
	opacity: 0.85;
}
.jv-quito .tg-center-holder {
	text-align: center;
}
.jv-quito .tg-overlay-image,
.jv-quito .tg-overlay-color {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
.jv-quito .tg-item-content-holder {
	position: relative;
	display: block;
	padding: 0 24px 18px 24px;
	text-align: left;
}
.jv-quito .tg-cats-holder {
	position: relative;
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	text-align: center;
}
.jv-quito .tg-item-date {
	position: relative;
	display: inline;
    padding: 0 6px 0 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
}
.jv-quito .tg-cats-holder span {
	position: relative;
    display: inline-block;
    padding: 8px 14px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}
.jv-quito .tg-light .tg-cats-holder span {
	background: rgba(0,0,0,0.2);
}
.jv-quito .tg-dark .tg-cats-holder span {
	background: rgba(175,175,175,0.08);
}
.jv-quito .tg-item-title,
.jv-quito .tg-item-title a {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
    font-weight: 600;
	margin: 0 !important;
    padding: 22px 20px 0 20px !important;
    text-align: center;
}
.jv-quito .tg-item-title a {
    padding: 0 !important;
}
.jv-quito .tg-item-excerpt {
    margin: 0;
    padding: 22px 0 0 0;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}
.jv-quito .tg-item-read-more {
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    padding: 22px 0 0 0;
    margin: 0 auto;
    text-align: center;
}
.jv-quito .tg-item-read-more a {
    position: relative;
	display: inline-block;
    border: 2px solid;
    padding: 8px 20px;
	text-transform: uppercase;
    font-size: 12px;
}
.jv-quito .tg-item-overlay {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jv-quito .tg-media-button,
.jv-quito .tg-link-button {
	position: relative;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    opacity: 0;
	padding: 6px 14px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}
.jv-quito .tg-media-button i,
.jv-quito .tg-link-button i {
	position: absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
.jv-quito .tg-dark .tg-media-button,
.jv-quito .tg-dark .tg-link-button {
	background: rgba(255,255,255,0.5);
}
.jv-quito .tg-dark .tg-media-button:hover,
.jv-quito .tg-dark .tg-link-button:hover {
	background: rgba(255,255,255,0.85);
}
.jv-quito .tg-light .tg-media-button,
.jv-quito .tg-light .tg-link-button {
	background: rgba(0,0,0,0.15);
}
.jv-quito .tg-light .tg-media-button:hover,
.jv-quito .tg-light .tg-link-button:hover {
	background: rgba(0,0,0,0.35);
}
.jv-quito .tg-item-footer {
	position: relative;
    display: inline-block;
    width: 100%;
	margin: 26px 0 0 0;
	line-height: 25px;
	text-align: center;
	font-style: italic;
}
.jv-quito .quote-format .tg-item-footer,
.jv-quito .link-format .tg-item-footer {
	margin: 42px 0 0 0;
}
.jv-quito .tg-quote-icon,
.jv-quito .tg-link-icon {
	position: relative;
    display: block;
    font-size: 24px;
    margin: 0;
    top: -24px;
    font-size: 80px;
    opacity: 0.14;
    text-align: center;
}
.jv-quito .quote-format,
.jv-quito .link-format {
	overflow: hidden;
}
.jv-quito .tg-link-content,
.jv-quito .tg-quote-content {
	margin: 0 !important;
}
.jv-quito .tg-link-content,
.jv-quito .tg-link-content a,
.jv-quito .tg-quote-content,
.jv-quito .tg-quote-content a {
    position: relative;
    display: inline-block;
	margin: 0 !important;
	padding: 0 !important;
	text-transform: none;
	font-size: 18px;
	font-style: italic;
	line-height: 24px;
	letter-spacing: 0.5px;
	text-align: center;
}
.jv-quito .tg-quote-author,
.jv-quito .tg-link-url {
	position: relative;
    display: block;
	margin: 8px 0 0 0;
    font-size: 13px;
	font-style: italic;
	text-align: center;
}
.jv-quito .tg-item-comment {
	position: relative;
    display: inline-block;
	font-size: 13px;
	padding: 0 0 0 6px;
}
.jv-quito .tg-link-button,
.jv-quito .tg-media-button {
	-webkit-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(0.8,0,0,0,0,0.8,0,0,0,0,1,0,0,0,0,1);
}
.jv-quito .tg-item-overlay,
.jv-quito .tg-media-button,
.jv-quito .tg-link-button {
	opacity: 0;
	-webkit-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-moz-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -moz-transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-ms-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -ms-transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
	-o-transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, -o-transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
	transition: background 0.15s ease-in-out, opacity 0.3s ease-in-out, transform 0.5s cubic-bezier(.39,1.89,.55,1.45);
}
.jv-quito .tg-item-media-holder:hover .tg-item-overlay,
.jv-quito .tg-item-media-holder:hover .tg-media-button,
.jv-quito .tg-item-media-holder:hover .tg-link-button {
	opacity: 1;
	-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-ms-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}
.jv-quito.tg-is-playing .tg-item-overlay,
.jv-quito.tg-force-play .tg-item-overlay {
	pointer-events: none;
	opacity: 0 !important;
}

.jv-quito .mejs-overlay-play {
	display: none !important;
}


/** Javo Rating average **/
.jv-quito .tg-jv-meta-rating-wrap {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    margin: 8px 5px;
	z-index: 1;
	width: 75px;
	height: 15px;
}

.jv-quito .tg-jv-meta-rating-wrap::before {
	position: absolute;
	content: '';
    top: -4px;
    left: -4px;
    right: 0px;
    bottom: -4px;
    border-radius: 0;
	z-index: 1;
}

.jv-quito .tg-jv-meta-rating {
    position: relative;
    z-index: 1;
	height: 100%;
	background-position: -3px -15px;
	background-image: url('/wp-content/themes/javo-spot/assets/images/star-all.png');
	background-repeat: no-repeat;
}

/** Javo category icons **/
.jv-quito .tg-jv-tax-wrap {padding:15px 0 0 0; text-align:center;}
.jv-quito .tg-jv-category i.glyphicon, .tg-jv-location i.glyphicon {font-size: 0.85em; color:#999 !important; letter-spacing:0.5em;}
.jv-quito .tg-jv-category {margin-right:15px;}

.jv-quito .tg-item-excerpt{padding-top:12px;}
.jv-quito .tg-item-read-more{padding-top:18px;}
.jv-quito .tg-item-footer{margin-top:18px;}